<div class="container container-small">
    <div class="row">
        <form>
            <div class="form-group" >
                <form >
                    <label for="accountID">Account ID</label>
                    <input [(ngModel)]="inputAccountID" name="inputAccountID" class="form-control" placeholder="Enter Account ID">
                    <hr>
                    <label for="InputEmail">Contact Email</label>
                    <input [(ngModel)]="inputEmail" name="inputEmail" class="form-control" placeholder="Enter email">
                    <hr>
                    <label for="inputAccountName">Account Name</label>
                    <input [(ngModel)]="inputAccountName" name="inputAccountName" class="form-control" placeholder="Enter Account Name">
                    <hr>
                    <label for="inputContactName">Contact Name</label>
                    <input [(ngModel)]="inputContactName" name="inputContactName" class="form-control" placeholder="Enter full name">
                    <hr>
                    <label for="inputSalesforceURL">Sales Force URL</label>
                    <input [(ngModel)]="inputSalesforceURL" name="inputSalesforceURL" class="form-control" placeholder="Enter url">
                    <hr>
                    <label for="inputLicenseStartdate">Start Date</label>
                    <input [(ngModel)]="inputLicenseStartdate" name="inputLicenseStartDate" class="form-control" placeholder="Enter start date">
                    <hr>
                    <label for="inputClientHealth">Client Health</label>
                    <input [(ngModel)]="inputClientHealth" name="inputClientHealth" class="form-control" placeholder="Enter health">
                    <hr>
                    <label for="inputRenewalDate">Renewal Date</label>
                    <input [(ngModel)]="inputRenewalDate" name="inputRenewalDate" class="form-control" placeholder="Enter renewal date">
                    <hr>
                    <label for="inputCasesURL">Cases URL</label>
                    <input [(ngModel)]="inputCasesURL" name="inputCasesURL" class="form-control" placeholder="Enter case URL">
                    <hr>
                    <label for="inputLastContactDate">Contact Date</label>
                    <input [(ngModel)]="inputLastContactDate" name="inputLastContactDate" class="form-control" placeholder="Enter email">
                    <button (click)='onSaveNewUser()' class="btn btn-primary">Submit</button>

                </form>
            </div>
        </form>
    </div> 
</div>
