

<div class="container container-small">
    <div class="row">
        <h3 id="accountName">{{textAccountName}}</h3>
        
        <p id="accountID">{{textAccountID}}</p> 
        <p id="email">{{textAccountEmail}}</p>
        <p id="lastContact">{{textAccountLastContactDate}}</p>
    </div>
    <hr>


            <div class="form-group" >
                <form >
                    <label for="note">Create New Note</label>
                    <input [(ngModel)]="inputNote" name="inputNote" class="form-control" placeholder="Enter notes">
                    <hr>
                    <button (click)='onAddNewNote()' class="btn btn-primary">Submit</button>

                </form>
            </div>
    <div *ngFor="let accountnote of accountNotes"  >
        <p>{{accountnote.date}}</p>
        <p>{{accountnote.note}}</p>
    </div>
    
</div>
