.confirm{
    maring-left:5px;
    margin-right:5px;
    border:1px solid;
    border-radius:5px;
}
#yes{
    color:red;
    
}
#yes:hover{
    background-color:rgba(255, 0, 0, 0.692);
    color:white;
}
#no{
    
    color:343a40;
}
#no:hover{
    
    background-color:#343a40;
    color:white;
}
.btn{
    width:50%;
    text-emphasis: bold;
}